@import '../shared/variables';

section {
  .pic__container {
    display: flex;

    img {
      flex: 1;
      height: 200px;
      object-fit: cover;
      @media screen and (min-width: 800px) {
        object-fit: cover;
      }
    }
  }

  .container__all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
    border-top: 20px solid $color-border;
    background-color: $color-background;
    @media screen and (min-width: 800px) {
      align-items: center;
      padding: 10px;
    }

    span {
      font-weight: 800;
      margin-top: 20px;
      padding: 10px;
      color: $color-purple;
    }
  }

  .input_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .input_container {
      margin-top: 10px;

      .rangeInput {
        width: 100%;
         padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.2s;
        transform: translate3d(1em);
        transition: border 0.4s ease;
        border: 3px solid $color-border;
        background-color: $color-border;
        outline: none;
        -webkit-appearance: none;
        border-radius: 18px;

        &:focus {
          transform: translate3d(1em);
          // border-bottom: 4px solid $color-purple;
          transform: scale(1.01);
          color: $color-purple;
          outline: none;
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 10px;
          cursor: pointer;
           border: 5px solid $color-background;
           border-radius: 18px;
          box-shadow: none;
          -webkit-appearance: none;
        }

        &::-moz-range-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          border-radius: 0;
          -webkit-appearance: none;
        }

        &::-moz-range-thumb {
          width: 30px;
          height: 30px;
          cursor: pointer;
          -webkit-appearance: none;
        }

        &::-webkit-slider-thumb {
          width: 40px;
          height: 40px;
          margin-top: -19px;
          transition: 0.2s;
          border-radius: 24px;
          background-color: $color-purple;
          box-shadow: none;
          box-shadow: none;
          -webkit-appearance: none;

          &:hover {
            border: 2px solid $color-background;
          }
        }

        &::-moz-focus-outer {
          border: 0;
        }

        &::placeholder {
          font-size: 12px;
          font-weight: 800;
          color: $color-purple;
        }
      }

      label {
        font-size: 18px;
        font-weight: 800;
        margin-top: 5px;
        color: $color-purple;
      }
    }

    p {
      color: $color-purple;
    }
  }

  .wrapper {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    h3 {
      color: $color-purple;
    }

    p {
      color: $color-purple;
    }

    input {
      position: absolute;
      opacity: 0;

      &:active,
      &:focus {
        & + label {
          &:before {
            border: 1px solid $color-purple;
          }
        }
      }

      &:checked + label {
        &:after {
          left: 20px;
          content: '';
          transition: 0.5s;
          background-color: $color-light;
          border: 1px solid $color-background;
        }
      }
    }

    label {
      position: relative;
      color: $color-purple;

      &:before {
        border: 1px solid $color-background;
        font-size: 18px;
        display: inline-block;
        width: 50px;
        height: 30px;
        margin-right: 20px;
        content: '';
        transition: 0.5s;
        border-radius: 20px;
        background-color: $color-button;
        margin-top: 20px;
      }

      &:after {
        margin-top: 20px;
        border: 1px solid $color-background;
        position: absolute;
        left: 0;
        display: inline-block;
        width: 30px;
        height: 30px;
        content: '';
        transition: 0.5s;
        border-radius: 20px;
        background-color: $color-border;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-top: 20px solid $color-border;
    // background-color:$color-mellowblue;
    padding: 30px;

    button {
      font-size: 18px;
      position: relative;
      margin: 10px;
      // width: 50%;
      padding: 20px;
      cursor: pointer;
      transition: 0.2s;
      color: white;
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: $color-purple;

      &:hover {
        background-color: $color-border;
      }
    }
  }

  .resultWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    color: white;
    background-color: $color-border;
    @media screen and (min-width: 800px) {
      padding: 20px;
    }

    span {
      color: white;
    }
  }
}
/* Credit to Brian Edward Miller for pics
https://dribbble.com/bemocs
*/
