<header>
  <h1> {{title | uppercase}} </h1>
  <div class="hamburger" (click)="hamburger()" [ngClass]="{ 'active': toggle }">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div>
    <span>@DoftGrahn 2019</span>
  </div>
  <div class="social-media">
    <a href="https://github.com/Doftgrahn" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
    <a href="https://linkedin.com/in/simon-grahn-06994797" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
    <a href="https://dribbble.com/doftgrahn" target="_blank" rel="noopener noreferrer"><i class="fab fa-dribbble"></i></a>

  </div>
  <div>
    <span>Phone: +3401233439</span><br />
    <span>Email: Simon.grahn@gmail.com</span>
  </div>
</footer>




<div class="hamburger-meny" [ngClass]="{'hamburger_fade ': toggle}">
  <ul>
    <li> <a routerLink="/SkiCalculator" (click)="toggleOff()">Ski</a>
    </li>
    <li><a routerLink="/Info" (click)="toggleOff()">About me</a></li>
  </ul>
</div>
