@import './shared/variables';

header {
  overflow-x: hidden;
  background-color: $color-purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  @media screen and (min-width: 800px) {
    justify-content: center;
    align-items: center;
  }

  h1 {
    color:white;
    margin-left: 28px;
    letter-spacing: 2px;
    font-weight: 800;
  }

  .hamburger {
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 20px;

    span {
      position: relative;
      height: 4px;
      width: 34px;
      display: block;
      margin-bottom: 8px;
      transition: 0.5s;
      background-color: white;
      @media screen and (min-width: 800px) {
        display: none;
      }

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: left;
      }
    }

    &.active span {
      &:nth-child(1) {
        transform: rotate(45deg);
        left: 2px;
      }

      &:nth-child(2) {
        transform: rotate(315deg);
        right: 2px;
      }

      &:nth-child(3) {
        transform: scaleX(0);
      }
    }
  }
}

.hamburger-meny {
  overflow-y: hidde;
  position: absolute;
  transition: 0.4s;
  font-size: 30px;
  align-items: flex-start;
  width: 100%;
  min-height: 137.3vh;
  background-color: $color-border;
  top: 0;
  right: 100%;
  padding: 80px 20px 50px;
  @media screen and (min-width: 800px) {
    display: inline-flex;
  }

  ul {
    list-style-type: none;
    cursor: pointer;

    li {
      color: white;
      margin-top: 20px;
    }
  }
}

.hamburger_fade {
  right: 0;
  display: block;
}
